@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Błażej Kucman<br />
    Gdańsk, Uniwersytet Gdańsk<br />
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/kucmeno">Kliknij Tutaj :) </a><br />
    <strong>Email:</strong> <a href="mailto:kucmeno12@o2.pl">Błażej Kucman</a>
</address>