@{
    ViewBag.Title = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <h1>Zarządzanie Rolami użytkowników</h1>
    <div>
        
    </div>
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Lista Ról", "Index", "Roles")</li>
                    <li>@Html.ActionLink("Utwórz rolę", "Create", "Roles")</li>
                    <li>@Html.ActionLink("Zarządzaj rolami użytkowników", "ManageUserRoles", "Roles")</li>
                    <li>@Html.ActionLink("Lista użytkowników", "Index", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    

}
<div class="jumbotron">
    <h1>ASP.NET-Backpacks :D </h1>
    <p class="lead">Aplikacja prezentująca katalog plecaków i ich producenów :D </p>
    <p><a href="https://github.com/kucmeno/ASP_CRUD_Backpackes" class="btn btn-success btn-lg">Dostęp do kodu ( github )</a></p>
</div>
